################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/dosya-hash-hesaplayici/v16
/.vs/DosyaHashDegeriHesaplayici/v16
